.card {
  background: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  width: 31%;
  margin-bottom: 3%;
  transition: all 0.2s;
  box-sizing: border-box;
  &:hover {
    box-shadow: 0 12px 18px 5px rgba(0, 0, 0, 0.045);
    transform: translateY(-1px);
  }
}

.head {
  padding: 20px;
  display: flex;
  border-bottom: 2px solid #868de5;

  b {
    flex: 1 1;
    font-weight: 600;
  }
}

.content {
  padding: 20px;
}

// .description {
//   padding: 0 20px 20px 20px;
//   color: #9f9f9f;
//   text-align: center;

//   p {
//     margin: 0;
//   }
// }

.wrapper {
  position: relative;
}

.info {
  opacity: 0.3;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.input {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border: 1px solid #d4d7f4;
  border-radius: 50px;
  height: 39px;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

.matches {
  margin-top: 5px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  &:empty {
    display: none;
  }
  
  li {
    flex: 1 1;
    text-align: center;
    list-style-type: none;
    background-color: #fff4f4;
    color: #2b2b2b;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 6px 10px;
    border-radius: 4px;
    animation: animate-placeholder 0.5s ease infinite;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &:hover {
      background-color: #fbeeee;
    }
  }
}

.placeholder {
  @extend .input;
  cursor: pointer;
  background-color: #d4d7f450;
  margin-bottom: 20px;
}

.image {
  position: absolute;
}

.input_test {
  @extend .input;
  overflow: hidden;
}

@media (max-width: 1110px) {
  .card {
    width: 48%;
    margin-bottom: 4%;
    margin-right: 0;
  }
}

@media (max-width: 730px) {
  .card {
    width: 100%;
    margin-bottom: 6%;
  }
}
